[Unit]
Description=network daemon to collect metrics

[Service]
User=statsd
Type=simple
ExecStart=/usr/bin/statsd_exporter --statsd.mapping-config=/etc/statsd/statsd-mapping.yaml
Restart=on-failure

[Install]
WantedBy=multi-user.target
